$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

@mixin phone {
  @include tablet {
    @content;
  }
  @include mobile {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) and (max-width: $laptop) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
