.wrapper {
  margin: 20px 250px 0 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  .link {
    margin: 1px 24px 1px 0;
    font-family: OpenSans;
    font-size: 24px;
    color: #333;
    text-decoration: none;
  }
}

.logo {
  img {
    height: 115px;
    width: 129px;
  }
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  font-size: 24px;

  .list {
    gap: 10px;
    a {
      margin-right: 15px;
      color: #333;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
