@use "@/styles/variables.scss" as *;
.wrapper {
  padding: 0 150px;
  margin-top: 50px;
  @include laptop {
    padding: 0 5%;
  }
  @include phone {
    padding: 0 5%;
  }
}

.slider {
  padding: 20px 150px;

  @include phone {
    padding: 20px 0;
  }
  @include laptop {
    padding: 20px 0;
  }
  :global(.swiper-button-prev) {
    background: #99d599;
    border-radius: 50%;

    svg {
      width: 88%;
      height: 50%;
    }
  }

  :global(.swiper-button-next) {
    background: #99d599;
    border-radius: 50%;

    svg {
      width: 88%;
      height: 50%;
    }
  }
}
