.wrapper {
  padding: 0 150px;
  margin-top: 50px;
}

.slider {
  padding: 20px 150px;

  :global(.swiper-button-prev) {
    background: #99d599;
    border-radius: 50%;

    svg {
      width: 88%;
      height: 50%;
    }
  }

  :global(.swiper-button-next) {
    background: #99d599;
    border-radius: 50%;

    svg {
      width: 88%;
      height: 50%;
    }
  }
}
